
<style>
    body {
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,244,240,1) 67%);
    }
    h2 {
        font-family: 'Mirza', sans-serif;
        color: black;
        font-weight: 600;
    }
</style>

@{
    ViewBag.Title = "O nas";
}
<h2>Sam się przekonaj</h2>
<br/>
<h2>Zapraszamy do zakładu</h2>
