<link rel="stylesheet" href="~/Content/samestyle.css">
@{
    ViewBag.Title = "Kontakt";
}
<h2>Skontaktuj się z nami</h2>

<br/>
<p>Adres:</p>
<p>2340 Merrell Road</p>
<p>Dallas, TX 75229</p>
<br/>
<p>E-mail:</p>
<p>info@harryangelgarage.com</p>
<br/>
<p>Godziny otwarcia:</p>
<p>9:00 - 18:00 Poniedziałek - Sobota</p>


